//color variable
$primary_color: #df6951;
$color1: #175578;
$color2: #5e6282;
$playDemo: #686d77;
$cardColor: #1e1d4c;
$bgColor: #ffffff;

//navbar
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    #jadoo{
        color: black;
        font-weight: 700;
        font-size: larger;
        #jadoodouble{
            color: goldenrod;
            
        }
        #jadooImage{
            position: relative;
        }
    }
    ul {
        li {
            display: inline;
            padding: 5px;
            a {
                text-decoration: none;
                color: black;
            }
        }
    }
}

//home page
.homePage {
    background-color: $bgColor;
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin-left: 80px;
    background-image: url('../resources/images/Decore.png');
    background-position: right;
    background-repeat: no-repeat;

    div {
        width: 100%;
        h2 {
            text-align: left;
            margin-top: 30px;
        }
        h1 {
            text-align: left;
            margin-top: 0;
            margin-bottom: 0;
        }
        p {
            text-align: left;
            margin-top: 0;
        }
        span {
            text-align: left;
        }
    }
}

.primaryColor {
    color: $primary_color;
    font-size: 20px;
}
.color1 {
    color: $color1;
    font-size: 84px;
}
#firstParagraph {
    font-size: 16px;
    color: $color2;
}

.playDemo {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: start;
    button {
        font-size: 18px;
        background-color: rgb(223, 194, 31);
        padding: 10px 30px;
        border-radius: 10px;
        border: 0;
    }
    p {
        color: $playDemo;
        font-size: 17px;
        span {
            color: #df6951;
        }
    }
}