//color variable
$primary_color: #df6951;
$color1: #175578;
$color2: #5e6282;
$playDemo: #686d77;
$cardColor: #1e1d4c;
$bgColor: #ffffff;

//navbar
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    #jadoo{
        color: black;
        font-weight: 700;
        font-size: larger;
        #jadoodouble{
            color: goldenrod;
            
        }
        #jadooImage{
            position: relative;
        }
    }
    ul {
        li {
            display: inline;
            padding: 5px;
            a {
                text-decoration: none;
                color: black;
            }
        }
    }
}

//home page
.homePage {
    background-color: $bgColor;
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin-left: 80px;
    background-image: url('../resources/images/Decore.png');
    background-position: right;
    background-repeat: no-repeat;

    div {
        width: 100%;
        h2 {
            text-align: left;
            margin-top: 30px;
        }
        h1 {
            text-align: left;
            margin-top: 0;
            margin-bottom: 0;
        }
        p {
            text-align: left;
            margin-top: 0;
        }
        span {
            text-align: left;
        }
    }
}

.primaryColor {
    color: $primary_color;
    font-size: 20px;
}
.color1 {
    color: $color1;
    font-size: 84px;
}
#firstParagraph {
    font-size: 16px;
    color: $color2;
}

.playDemo {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: start;
    button {
        font-size: 18px;
        background-color: rgb(223, 194, 31);
        padding: 10px 30px;
        border-radius: 10px;
        border: 0;
    }
    p {
        color: $playDemo;
        font-size: 17px;
        span {
            color: #df6951;
        }
    }
}

//category page
.category {
    background-color: $bgColor;
    margin-top: 50px;
    div {
        p {
            margin-bottom: 0;
            color: #5e6282;
            font-size: 18px;
        }
        h2 {
            margin-top: 0;
            color: #14183e;
            font-size: 50px;
        }
    }
    .cardDiv {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        .card {
                width: 267px;
                height: 314px;
                border-radius: 36px;
                filter: drop-shadow(0px 52px 26.5px rgba(0,0,0,0.07));
                background-color: #ffffff;
                background-image: url('../resources/images/Rectangle\ 158.png');
                background-repeat: no-repeat;
                background-position: center;
            img {
                height: 100px;
                width: 100px;
                margin-bottom: 30px;
            }
            h2 {
                margin-top: 20px;
                color: $cardColor;
                font-size: 20px;
            }
            p {
                width: 200px;
                text-align: center;
                margin-left: 30px;
            }
        }
        .card2 {
                width: 267px;
                height: 314px;
                border-radius: 36px;
                filter: drop-shadow(0px 52px 26.5px rgba(0,0,0,0.07));
                background-color: #ffffff;
                background-image: url('../resources/images/Rectangle\ 157.png');
                background-repeat: no-repeat;
                background-position: bottom;
                background-image: url('../resources/images/Rectangle\ 158.png');
                background-repeat: no-repeat;
                background-position: center;
            img {
                height: 100px;
                width: 100px;
                margin-bottom: 30px;
            }
            h2 {
                margin-top: 20px;
                color: $cardColor;
                font-size: 20px;
            }
            p {
                width: 200px;
                text-align: center;
                margin-left: 30px;
            }
        }
    }
}

//Destinations page
.destinations {
    p {
        margin-top: 50px;
        margin-bottom: 0;
    }
    h2 {
        font-size: 50px;
        color: #14183e;
        margin-top: 0;
    }
    .cardDestinations {
        display: flex;
        justify-content: space-around;
        align-items: center;
        .singleCard {
            width: 314px;
            height: 457px;
            border-radius: 24px;
            filter: drop-shadow(0px 16px 15px rgba(0,0,0,0.09));
            background-color: #ffffff;
            img {
                height: 350px;
                width: 100%;
            }
            div {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                h2 {
                    font-size: 18px;
                    color: #5e6282;
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }
            p {
                margin-top: 5px;
                text-align: left;
                margin-left: 40px;
                span {
                    margin-left: 20px;
                }
            }
        }
    }
}

//Next trip page
.nextTrip {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    p {
        text-align: left;
        margin-bottom: 0;
    }
    h2 {
        text-align: left;
        font-size: 50px;
        margin-top: 0;
    }
    .nextTripText {
        div {
            display: flex;
            flex-direction: row;
            gap: 10px;
            margin-bottom: 10px;
            div {
                display: flex;
                flex-direction: column;
                text-align: left;
                gap: 0;
                h5 {
                    text-align: left;
                    margin-left: 0;
                    margin-bottom: 0;
                    margin-top: 0;
                    font-size: 16px;
                    color: #5e6282;
                }
                p {
                    font-size: 13px;
                    color: #5e6282;
                    width: 60%;
                    margin-top: 0;
                }
            }
        }
    }
}

//Testimonial page
.testimonials {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
        div {
            p {
                color: #14183e;
                text-align: left;
            }
            h2 {
                font-size: 38px;
                color: #14183e;
                text-align: left;
                margin-left: 30px;
                width: 300px;
            }
            p {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                gap: 10px;
                p {
                    width: 12px;
                    height: 12px;
                    border-radius: 6px;
                    background-color: #39425d;
                }
                span {
                    width: 12px;
                    height: 12px;
                    border-radius: 6px;
                    background-color: #e5e5e5;
                }
            }
        }
        .paragraphTag {
            width: 504px;
            height: 245px;
            border-radius: 10px;
            filter: drop-shadow(0px 12px 15px rgba(0,0,0,0.1));
            background-color: #ffffff;
            background-image: url('../resources/images/Image.png');
            background-repeat: no-repeat;
            background-position: top & right;
            p {
                font-size: 14px;
                color: #5e6282;
                margin-left: 100px;
                margin-top: 30px;
                width: 300px;
            }
            h5 {
                color: #5e6282;
                text-align: left;
                margin-left: 50px;
                margin-top: 60px;
                margin-bottom: 0;
            }
            small {
                color: #5e6282;
                text-align: left;
                margin-left: -310px;
                margin-top: 0;
            }
            div {
                h5 {
                    margin-left: 100px;
                }
                p {
                    margin-top: 0;
                    margin-left: 100px;
                }
            }
        }
        .chevron {
            display: flex;
            flex-direction: column;
            gap: 50px;
            margin-top: 100px;
            #chevronUp {
                width: 14px;
                height: 7px;
                color: #abb3c9;
            }
            #chevronDown {
                width: 14px;
                height: 7px;
            }
        }
}

//Subscribe page
.subscribe {
    margin-top: 100px;
    
    .iconImage {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 100px;
        
    }

    .subscribePage {
        div {
            opacity: 0.200;
            width: 1070px;
            height: 307px;
            border-radius: 70px 0 0 0;
            background-color: #dfd7f9;
            margin-left: 50px;
            // background-image: url('../resources/images/location.png');
            // background-repeat: no-repeat;
            // background-position:  top right;
            h2 {
                color: #5e6282;
                font-size: 33px;
                width: 800px;
                padding-top: 100px;
                padding-left: 130px;
            }
                p {
                    height: 40px;
                    width: 400px;
                    background-color: #ffffff;
                    margin-left: 200px;
                    text-align: left;
                    padding-left: 10px;
                    font-size: 20px;
                    font-weight: 500;
                }
                span {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 10px;
                    button {
                        font-weight: 500;
                        color: #ffffff;
                        font-size: 20px;
                    }
                }
                .buttonClass {
                    width: 180px;
                    height: 40px;
                    border-radius: 10px;
                    background-image: linear-gradient(180deg, #ff946d 0%, #ff7d68 100%);
                }
        }
    }
}

//Footer
.footer {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .FooterJadoo {
        h2 {
            color: #181e4b;
            font-size: 44px;
            margin-bottom: 10px;
        }
        p {
            color: #5e6282;
            font-size: 13px;
            width: 200px;
            margin-top: 0;
        }
    } 

    .FooterIcon {
        span {
            font-size: 40px;
            background-color: #ffffff;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            gap: 30px;
        }
    }
}