//color variable
$primary_color: #df6951;
$color1: #175578;
$color2: #5e6282;
$playDemo: #686d77;
$cardColor: #1e1d4c;
$bgColor: #ffffff;

//navbar
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    #jadoo{
        color: black;
        font-weight: 700;
        font-size: larger;
        #jadoodouble{
            color: goldenrod;
            
        }
        #jadooImage{
            position: relative;
        }
    }
    ul {
        li {
            display: inline;
            padding: 5px;
            a {
                text-decoration: none;
                color: black;
            }
        }
    }
}

//home page
.homePage {
    background-color: $bgColor;
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin-left: 80px;
    background-image: url('../resources/images/Decore.png');
    background-position: right;
    background-repeat: no-repeat;

    div {
        width: 100%;
        h2 {
            text-align: left;
            margin-top: 30px;
        }
        h1 {
            text-align: left;
            margin-top: 0;
            margin-bottom: 0;
        }
        p {
            text-align: left;
            margin-top: 0;
        }
        span {
            text-align: left;
        }
    }
}

.primaryColor {
    color: $primary_color;
    font-size: 20px;
}
.color1 {
    color: $color1;
    font-size: 84px;
}
#firstParagraph {
    font-size: 16px;
    color: $color2;
}

.playDemo {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: start;
    button {
        font-size: 18px;
        background-color: rgb(223, 194, 31);
        padding: 10px 30px;
        border-radius: 10px;
        border: 0;
    }
    p {
        color: $playDemo;
        font-size: 17px;
        span {
            color: #df6951;
        }
    }
}

//category page
.category {
    background-color: $bgColor;
    margin-top: 50px;
    div {
        p {
            margin-bottom: 0;
            color: #5e6282;
            font-size: 18px;
        }
        h2 {
            margin-top: 0;
            color: #14183e;
            font-size: 50px;
        }
    }
    .cardDiv {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        .card {
                width: 267px;
                height: 314px;
                border-radius: 36px;
                filter: drop-shadow(0px 52px 26.5px rgba(0,0,0,0.07));
                background-color: #ffffff;
                background-image: url('../resources/images/Rectangle\ 158.png');
                background-repeat: no-repeat;
                background-position: center;
            img {
                height: 100px;
                width: 100px;
                margin-bottom: 30px;
            }
            h2 {
                margin-top: 20px;
                color: $cardColor;
                font-size: 20px;
            }
            p {
                width: 200px;
                text-align: center;
                margin-left: 30px;
            }
        }
        .card2 {
                width: 267px;
                height: 314px;
                border-radius: 36px;
                filter: drop-shadow(0px 52px 26.5px rgba(0,0,0,0.07));
                background-color: #ffffff;
                background-image: url('../resources/images/Rectangle\ 157.png');
                background-repeat: no-repeat;
                background-position: bottom;
                background-image: url('../resources/images/Rectangle\ 158.png');
                background-repeat: no-repeat;
                background-position: center;
            img {
                height: 100px;
                width: 100px;
                margin-bottom: 30px;
            }
            h2 {
                margin-top: 20px;
                color: $cardColor;
                font-size: 20px;
            }
            p {
                width: 200px;
                text-align: center;
                margin-left: 30px;
            }
        }
    }
}